@font-face
  font-family: 'PT Root UI'
  src: url('fonts/PTRootUIVF.woff2') format('woff2')
  font-weight: 1
  font-style: normal

@font-face
  font-family: 'PT Root UI'
  src: url('fonts/PTRootUI-Light.woff2') format('woff2')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'PT Root UI'
  src: url('fonts/PTRootUI-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'PT Root UI'
  src: url('fonts/PTRootUI-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'PT Root UI'
  src: url('fonts/PTRootUI-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal



$main-font-theme: 'PT Root UI', sans-serif
$logo-font-theme: 'Lobster', cursive

$main-color-theme: #0f5de4
$dark-color-theme: #212121
$light-color-theme: #efefef
$main-text-color-theme: #292f37
$true-text-color-theme: #689F38


.full-wrapper
  width: 100%

.wrapper
  width: 100%
  max-width: 1320px
  margin-right: auto
  margin-left: auto

a
  text-decoration: none

.true-text-color
  color: $true-text-color-theme

.flex
  display: flex

.align-items-center
  align-items: center

.flex-direction-column
  flex-direction: column

.w-full
  width: 100% !important
  input
    width: 100% !important

.text-center
  text-align: center